<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	<bean id="userDAO" class="epam.jmp.muha.dao.impl.JdbcUserDAO">
		<property name="dataSource" ref="dataSource" />
	</bean>
	
	<bean id="postsDAO" class="epam.jmp.muha.dao.impl.JdbcPostsDAO">
		<property name="dataSource" ref="dataSource" />
	</bean>
	
	<bean id="likesDAO" class="epam.jmp.muha.dao.impl.JdbcLikesDAO">
		<property name="dataSource" ref="dataSource" />
	</bean>
	
	<bean id="friendshipsDAO" class="epam.jmp.muha.dao.impl.JdbcFriendshipsDAO">
		<property name="dataSource" ref="dataSource" />
	</bean>
	
	<bean id="tableFactory" class="epam.jmp.muha.database.factory.TableFactory">
		<property name="dataSource" ref="dataSource" />
	</bean>
	
</beans>